### Java / Build ###
# Compiled class files and archives
*.class
*.jar
*.war
*.ear

# Build tool folders
bin/
out/
build/
target/
.gradle/

# Log files and crash dumps
*.log
hs_err_pid*

### IDE ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

### Data ###
data/
